body {
    background-color: #e5e5e5;
}



.navbar-fixed nav {
    background-color: #009688;
}





/* Page Login */
.wrapper-login {
    position:absolute;
    text-align:center;
    width:100%;
}
.wrapper-login .col {
    display:inline-block;
    float:none;   
}
.wrapper-login h1 {
    font-size: 32px;
    color: #000;
}
.login {
    width: 420px;
    margin: 0px auto;
    padding: 45px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.login h5 {
    padding-bottom: 10px;
}
.login button {
    margin-top: 10px;
}
.login-footer {
    margin-top: 25px;
    color: #bdbdbd;
}
.validate {
    color: #dd2c00;
    padding-top: 10px;
    padding-bottom: 10px;
}






/* content */
.wrapper-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.content {
    min-height: 400px;
    background: #fff; 
    padding: 20px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d8d8d8;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 2px;
    left: 0;
    position: relative;
    transition: left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, width 0.4s ease 0s, padding 0.4s ease 0s, box-shadow 0.4s ease 0s, margin 0.4s ease 0s, border 0.4s ease 0s;
    z-index: 2;
}
.content-tab {
    background: #fff; 
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d8d8d8;
    border-image: none;
    border-style: solid;
    border-width: 0px 0px 1px;
    position: relative;
    left: 0;
    transition: left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, width 0.4s ease 0s, padding 0.4s ease 0s, box-shadow 0.4s ease 0s, margin 0.4s ease 0s, border 0.4s ease 0s;
    z-index: 2;
    margin-bottom: 20px;
}
nav .brand-logo {
    font-size: 1.2rem;
}
.header {
    font-size: 22px; 
}
.part {
     color: #616161;
}
.title-choice {
    color: #616161;
    cursor: text;
    font-size: 1rem;
    left: 0.75rem;
    position: absolute;
    top: 0.8rem;
    transition: all 0.2s ease-out 0s;
}
.form-body {
    padding-left: 30px;
    padding-right: 30px;
}
p {
    color: rgba(0, 0, 0, 0.71);
    padding: 0;
}
.leftup {
    padding-left: 50px;
}
.leftup-alcohollong {
    padding-left: 50px; 
}
.leftup-alcohollong label {
    padding-left: 50px;
}





/* tab fix */
.center-tab {
  height: 56px;
  z-index: 998;
}






/* breadcrumb */
.header-title {
    font-size: 16px;
    line-height: 20px;
    width: 100%; 
    color: #757575;
    font-weight: 400;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
     -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d8d8d8;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 2px;
}
.header-title span {
    float: left;
}
.section-title > a {
    color: #757575;
}
.chapter-title::before {
    content: "/";
    float: left;
    height: 20px;
    margin: 0 0.7em 0 0.8em;
    width: 0.4em;
}
.chapter-title {
    display: block;
    color: #757575;
}
.chapter-title > a {
    color: #757575;
}
.section-title > a:hover, .chapter-title > a:hover {
    color: #9e9e9e;
}





/* datatable */
.dataTables_length select {
    display: block;
}
.dataTables_filter label {
    font-size: 14px;
     font-weight: 600px;
}






/* form regis */
.form-regis {
    margin: auto 0;
}
.form-regis .validate {
    color: #dd2c00;
    padding: 0;
    margin: 0;
}

.form-horizontal .validate {
    color: #dd2c00;
    padding: 0;
    margin: 0;
}




#c_pic_1, #c_pic_2, #c_pic_3, #c_pic_4, #c_pic_5, #c_pic_6:hover {
  cursor: pointer;
}




/* color */
.badge-game {
    color: #fff;
    padding: 4px;
    font-size: 12px;
    font-weight: 700px;
}
.icon-color-red {
    color: red;
    font-weight: 700;
}
.icon-color-green {
    color: green;
    font-weight: 700;
}
.icon-color-qray {
    color: gray;
    font-weight: 700px;
}






/* dropdown width */
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 200px; /* Changed this to accomodate content width */
  max-height: auto;
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}






/** hidden search field **/
#searchbar {
  display: none;
  float: left;
  width: 100%;
  height: 62px;
  z-index: 9999;
  background: #fff;
}
#s {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  height: 60px;
  line-height: 60px;
  font-size: 1.5em;
  font-weight: bold;
  color: #676767;
  text-align: center;
}
#searchsubmit {
  display: block;
  float: right;
  background: none;
  color: #717171;
  border: 0;
  outline: none;
  cursor: pointer;
}


.box-text-small { font-size: 12px; }
.center-btn { text-align: center }

.bg_red_tr {
  background-color: red;
}

.left10 {
  margin-left: 5px;
}

.box-under-breadcrumb {
  padding: 0 1.2em;
}
.box-red {
  position: absolute;
  padding: 10px;
  width: 10px;
  background-color: red;
}
.text-discharge {
  padding-left: 22px;
}


/* เปิดปิด <br> */
.show-on-small {
    display: none;
}





@media (max-width:380px) {
    .tab-top a {
      font-size: 11px;
    }
}



@media only screen and (max-width: 480px) {
    .wrapper-login h1 {
        font-size: 22px;
    }
    nav .brand-logo {
        display: none;
    }
    .header {
        font-size: 14px;
    }
    
    .header-title {
        display: none;
    }
    
   .show-on-small {
        display: block;
    }
        
}

@media (max-width: 768px) {
    .header {
        font-size: 16px;
        line-height: 1.2em
    }
    nav .brand-logo {
         font-size: 18px;
    }
    .form-regis .col.offset-s3 {
        margin-left: 0px;
    }
    .form-regis .col.s6 {
        width: 100%;
    }
    
}

@media (max-width: 1024px) {
    .wrapper-login h1 {
        font-size: 24px;
    }
    .nav-wrapper ul li a {
      font-size: 15px;
    }
    .nav-wrapper ul li a i {
      font-size: 15px;
    }
}




